.articles {
    @include md {
        width: 70%;
        margin: 0 auto;
    }

    h1 {
        color: $deepblue;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .a-text {
        background-color: $babyblue;
        padding: 10px;
        margin-bottom: 20px;
    }

    button {
        background-color: $orangepeel;
            color: $white;
            border: none;
            padding: 8px;
            margin-top: 20px;
            margin-bottom: 20px;
           

            &:hover {
                background: darken($orangepeel, 20%)
            }
    }
}

.new-image {
    height: 200px;
}

.Article1 {

    .light {
        font-weight: 300;
    }

    .new-image {
        background: url(/deploy/img/articles/pomegranets.jpg) no-repeat;
        background-size: cover;
    }
}

.Article2 {

    .light {
        font-weight: 300;
    }

    .new-image {
        background: url(/deploy/img/articles/fruitbowls.jpg) no-repeat;
        background-size: cover;
    }
}

.Article3 {

    .light {
        font-weight: 300;
    }

    .new-image {
        background: url(/deploy/img/articles/squash.jpg) no-repeat;
        background-size: cover;
    }
}

.Article4 {

    .light {
        font-weight: 300;
    }

    .new-image {
        background: url(/deploy/img/articles/kale.jpg) no-repeat;
        background-size: cover;
    }
}

.Article5 {

    .light {
        font-weight: 300;
    }
    
    .new-image {
        background: url(/deploy/img/articles/pizza.jpg) no-repeat;
        background-size: cover;
    }
}
