.footer {
    background-color: $peachy;
    padding: 30px;

    .button {
        margin-top: 10px;
        margin-left: 340px;
    }

    @include md {
        .button {
            margin-top: 10px;
            margin-left: 100px;
        }
    }

    @include lg {
        .button {
            margin-top: 10px;
            margin-left: 300px;
        }
    }


    .locations {
        color: $deepblue;
    }

    .email {

        .light {
            font-weight: 300;
        }

        color: $deepblue;
    }

    .social {
        color: $deepblue;
    }

    .fab {
        color: $deepblue;
    }

    a {
        color: $deepblue;
        text-decoration: none;
    }

    button {
        background-color: $orangepeel;
        color: $white;
        border: none;
        padding: 10px;
        

        &:hover {
            background: darken($orangepeel, 20%)
        }
    }

    input {
        background-color: $kale;
        color: $white;
        border: none;
        padding: 20px;
    }
}