.hero-img {
    background: url("../../../deploy/img/hero/ola-mishchenko-VRB1LJoTZ6w-unsplash\(1\).jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}

.hero {
    ul {
        .details a {
            padding: 20px;
        }

        .healthy a {
            background-color: $kaledark;
            &:hover {
                background: darken($kaledark, 10%)
            }
        }

        .location a {
            background-color: $kale;
            &:hover {
                background: darken($kale, 5%)
            }
        }
    }
}