.hero-img {
    background: url("../../../deploy/img/hero/ola-mishchenko-VRB1LJoTZ6w-unsplash\(1\).jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
}