/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

    main {
        display: grid;
        grid-template-areas: 
            "header"
            "searchbar"
            "hero"
            "recipes"
            "imagegallery"
            "articles"
            "footer";
    }

    .header {
        grid-area: header;
    }

    .searchbar {
        grid-area: searchbar;
    }

    .hero {
        grid-area: hero;

        ul {
            display: grid;
            grid-template-columns: 300px auto;
        }

        a {
            display: grid;
            grid-template-columns: 350px auto;
        }

        @include md {
            ul {
                grid-template-columns: repeat(12, 1fr);

                .healthy {
                    grid-column: span 5;
                }

                .location {
                    grid-column: span 7;
                }
            }
        }
    }

    .recipes {
        grid-area: recipes;
    }

    .imagegallery {
        grid-area: imagegallery;
    }

    .articles {
        grid-area: articles;

        ul {
            display: grid;
        }

        ul {
            display: grid;
            grid-template-columns: 25% 288px;
        }

        @include md {
            ul {
                grid-template-columns: 500px 500px;
                grid-gap: 30px;
                justify-content: center;
            }
        }
    }

    .footer {
        grid-area: footer;

        .social ul {
            display: flex;
        }

        @include md {
            section {
                grid-template-columns: 200px 600px 200px;
                grid-gap: 30px;
                justify-content: center;
            }
        }
    }

        .imagegallery ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
        }


        .recipes ul {
            display: grid;
            grid-template-columns: 30% auto 30% auto;
        }

        .header {
            .header-1 {
                display: grid;
                grid-template-columns: 10% auto;
            }
        }

        .footer {
            .social ul {
                display: grid;
                grid-template-columns: repeat(4,20px);
            }
        }

            .locations {
                section ul li {
                    display: grid;
                    grid-template-columns: 30px 200px;
                }
            }
        .footer-1 {
            display: grid;
            grid-template-areas: 
            "locations"
            "email"
            "social";
            grid-template-columns: 30px 30px 30px;
        }