/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

    main {
        display: grid;
        grid-template-areas: 
            "header"
            "searchbar"
            "hero"
            "heroinfo"
            "recipes"
            "imagegallery"
            "articles"
            "footer";

        @include md {
            grid-template-areas: 
            "header header header header header header"
            "searchbar searchbar searchbar searchbar searchbar searchbar"
            "hero hero hero hero hero hero"
            "heroinfo heroinfo heroinfo heroinfo heroinfo heroinfo"
            "recipes recipes recipes recipes recipes recipes"
            "imagegallery imagegallery imagegallery imagegallery imagegallery imagegallery"
            "articles articles articles articles articles articles"
            "footer footer footer footer footer footer";
        }
    }

    .header {
        grid-area: header;
        display: grid;
    }

    .searchbar {
        grid-area: searchbar;
        
        form {
            display: grid;
            grid-template-columns: 85% auto;
            grid-gap: 20px;
        }
    }

    .hero {
        grid-area: hero;

        img {
            width: 100%;
        }

        ul {
            display: grid;
        }

        a {
            display: grid;
            grid-template-columns: 75% auto;
        }

        @include md {
            ul {
                grid-template-columns: repeat(12, 1fr);

                .healthy {
                    grid-column: span 5;
                }

                .location {
                    grid-column: span 7;
                }
            }
        }

    }
        

    .recipes {
        grid-area: recipes;

        ul {
            display: grid;
        }

        .meals {
            display: grid;
            grid-template-columns: 70% auto;
        }
        

        @include md {
            ul {
                grid-template-columns: repeat(4, 1fr);
                grid-gap: 3px;

                .family {
                    grid-column: span 2;
                }

                .snack {
                    grid-column: span 2;
                }
            }
        }
    }

    .imagegallery {
        grid-area: imagegallery;

        ul {
            display: grid;
        }

        @include md {
            ul {
                grid-template-columns: 50% auto;
            }
        }
    }

    .articles {
        grid-area: articles;

        ul {
            display: grid;
        }

        @include md {
            ul {
                grid-template-columns: 350px 350px;
                grid-gap: 30px;
                justify-content: center;
            }
        }
    }

    .footer {
        grid-area: footer;

        .social ul {
            display: grid;
            grid-template-columns: repeat(4,20px);
        }

        .locations {
            section ul li {
                display: grid;
                grid-template-columns: 30px 200px;
            }
        }

        @include md {
            display: grid;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(4, 1fr);

            .locations {
                grid-column: 2 / 6;
                grid-row: 1 / 4;
            }

            .email {
                grid-column: 6 / 12;
                grid-row: 1 / 2;
            }

            .social {
                grid-column: 6 / 12;
                grid-row: 5 / 3;
            }
        }
    }

        .header {
            .header-1 {
                display: grid;
                grid-template-columns: 10% auto;
            }
        }