/* =============
    Base
============= */
figure {
    margin: 0;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}

.content {
    display: grid;
    grid-template-areas: 
        "header"
        "searchbar"
        "hero"
        "recipes"
        "imagegallery"
        "articles"
        "footer";

    .header {
        grid-area: header;
    }

    .searchbar {
        grid-area: searchbar;
    }

    .hero {
        grid-area: hero;
    }

    .recipes {
        grid-area: recipes;
    }

    .imagegallery {
        grid-area: imagegallery;
    }

    .articles {
        grid-area: articles;
    }

    .footer {
        grid-area: footer;
    }

    margin-bottom: 24px;

    @include md {
        margin-bottom: 32px;

        .imagegallery ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }

    @include md {
        margin-bottom: 32px;

        .articles ul {
            display: grid;
            grid-template-columns: 30% 1fr;
        }
    }   
    
    @include md {
        margin-bottom: 32px;

        .recipes ul {
            display: grid;
            grid-template-columns: 10% 200px 10% 200px;
        }
    }

    @include md {
        margin-bottom: 32px;

        .hero ul {
            display: grid;
            grid-template-columns: 10% 100px 10% 1fr;
        }
    }

    @include md {
        margin-bottom: 32px;

        .header ul {
            display: grid;
            grid-template-columns: 22% 1fr;
        }
    }

    @include md {
        margin-bottom: 32px;

    }

    @include xl {
        margin-bottom: 64px;
    }
}