/* =============
    Section 2
============= */
#section-2{
    background-color: $blue;
    color: $white;

    article{
        background-color: $grey;
        color: $white;
        padding: 100px 0;
    text-align: center;
    }

    aside{
        background-color: $light-grey;
        color: $white;
        padding: 100px 0;
        text-align: center;
    }
}